<!-- <div style="background: #f2f5fa; min-height: 100vh;"> -->
    
    <!-- <app-doctor></app-doctor>
    <app-nurse></app-nurse>
    <app-patient></app-patient>  -->
    <!-- <app-register></app-register> -->
    <!-- <app-home></app-home> -->
    <!-- <app-contact-us></app-contact-us> -->

    <!-- <router-outlet></router-outlet> -->
    <!-- <app-login></app-login> -->
    <!-- <app-reset-password></app-reset-password> -->

    <!-- <app-verify-otp></app-verify-otp> -->

<!-- <app-doctor-booking></app-doctor-booking> -->



<!-- <app-admin></app-admin>-->
<router-outlet></router-outlet> 


    <!-- <div class="theme-settings" [class.open]="isOpen">
        <div class="theme-header text-center">
            <h5>Template Settings</h5>
        </div> -->

        <!-- Dark/Light Toggle -->
        <div class="theme-toggle mb-3">
            <label class="toggle-switch">
                <input type="checkbox" (change)="toggleMode()" [checked]="isDarkMode">
                <span class="slider"></span>
                <span class="label-text">{{ isDarkMode ? 'Dark' : 'Light' }}</span>
            </label>
        </div>

        <!-- RTL/LTR Toggle -->
        <!-- <div class="theme-toggle mb-3">
            <label class="toggle-switch">
                <input type="checkbox" (change)="toggleLang()" [checked]="isRTL">
                <span class="slider"></span>
                <span class="label-text">{{ isRTL ? 'RTL' : 'LTR' }}</span>
            </label>
        </div> -->

        <!-- Settings Button -->
        <!-- <button class="settings-btn" (click)="isOpen = !isOpen">
            <i class="fa fa-gear" *ngIf="!isOpen"></i>
            <i class="fa fa-xmark" *ngIf="isOpen"></i>
        </button>
    </div>
 -->
