<div class="sidebar">
  <div class="sidebar-header">
    <mat-icon class="sidebar-header-icon">filter_list</mat-icon>
    <span class="sidebar-header-title">Filters</span>
  </div>
  <mat-accordion multi>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidebar-section-icon">school</mat-icon>
          Title
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox class="sidebar-checkbox" [(ngModel)]="filter.titleProfessor" (change)="onFilterChange()">Professor</mat-checkbox>
      <mat-checkbox class="sidebar-checkbox" [(ngModel)]="filter.titleLecturer" (change)="onFilterChange()">Lecturer</mat-checkbox>
      <mat-checkbox class="sidebar-checkbox" [(ngModel)]="filter.titleConsultant" (change)="onFilterChange()">Consultant</mat-checkbox>
      <mat-checkbox class="sidebar-checkbox" [(ngModel)]="filter.titleSpecialist" (change)="onFilterChange()">Specialist</mat-checkbox>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidebar-section-icon">transgender</mat-icon>
          Gender
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox class="sidebar-checkbox" [(ngModel)]="filter.genderFemale" (change)="onFilterChange()">Female</mat-checkbox>
      <mat-checkbox class="sidebar-checkbox" [(ngModel)]="filter.genderMale" (change)="onFilterChange()">Male</mat-checkbox>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidebar-section-icon">event_note</mat-icon>
          Availability
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group [(ngModel)]="filter.availability" (change)="onFilterChange()">
        <mat-radio-button value="any">Any</mat-radio-button><br>
        <mat-radio-button value="today">Today</mat-radio-button><br>
        <mat-radio-button value="tomorrow">Tomorrow</mat-radio-button><br>
        <mat-radio-button value="wed">Wed 08/20</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidebar-section-icon">local_offer</mat-icon>
          Promo Codes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox class="sidebar-checkbox" [(ngModel)]="filter.acceptPromo" (change)="onFilterChange()">Accept Promo Codes</mat-checkbox>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidebar-section-icon">attach_money</mat-icon>
          Examination Fee
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group class="sidebar-radio-group" [(ngModel)]="filter.fee" (change)="onFilterChange()">
        <mat-radio-button class="sidebar-radio" value="any">Any</mat-radio-button><br>
        <mat-radio-button class="sidebar-radio" value="lt50">Less than 50</mat-radio-button><br>
        <mat-radio-button class="sidebar-radio" value="50-100">From 50 to 100</mat-radio-button><br>
        <mat-radio-button class="sidebar-radio" value="100-200">From 100 to 200</mat-radio-button><br>
        <mat-radio-button class="sidebar-radio" value="200-300">From 200 to 300</mat-radio-button><br>
        <mat-radio-button class="sidebar-radio" value="gt300">Greater than 300</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidebar-section-icon">credit_card</mat-icon>
          Payment Methods
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- Payment methods options here -->
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidebar-section-icon">medical_services</mat-icon>
          Entity
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group [(ngModel)]="filter.entity" (change)="onFilterChange()">
        <mat-radio-button value="">Any</mat-radio-button><br>
        <mat-radio-button value="hospital">Hospital</mat-radio-button><br>
        <mat-radio-button value="clinic">Clinic</mat-radio-button><br>
        <mat-radio-button value="center">Medical Center</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="sidebar-section-icon">person</mat-icon>
          Role
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group [(ngModel)]="filter.role" (change)="onFilterChange()">
        <mat-radio-button value="any">Any</mat-radio-button><br>
        <mat-radio-button value="doctor">Doctor</mat-radio-button><br>
        <mat-radio-button value="nurse">Nurse</mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="dropdown">
  <!-- عرض التسمية المختارة -->
  <!-- {{ selectedLabel }} -->

  <!-- <select [(ngModel)]="selected">
    <option *ngFor="let opt of options" [value]="opt.value">
      {{ opt.label }}
    </option>
  </select> -->
</div>
