<div class="doctor-card">
  <div class="profile">
    <img [src]="doctor?.image || 'assets/default-doctor.png'" alt="Doctor photo" class="profile-img" />
  </div>
  <div class="info">
    <div class="header">
      <span class="name">Doctor <span class="doctor-name">{{doctor?.name}}</span></span>
      <span class="title">{{doctor?.title}}</span>
    </div>
    <div class="rating">
      <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
        <mat-icon class="star-icon">{{ i < (doctor?.rating || 0) ? 'star' : (i < (doctor?.rating || 0) + 0.5 ? 'star_half' : 'star_border') }}</mat-icon>
      </ng-container>
      <span class="rating-count">Overall Rating From {{doctor?.ratingCount}} Visitors</span>
    </div>
    <div class="specialty">
      <mat-icon class="icon-blue">local_hospital</mat-icon>
      <span class="specialty-title">{{doctor?.specialty}}</span>
      <span *ngIf="doctor?.specialtyDetails"> Specialized in <span class="specialty-details">{{doctor?.specialtyDetails}}</span></span>
    </div>
    <div class="location">
      <mat-icon class="icon-red">location_on</mat-icon>
      <span>{{doctor?.location}}</span>
    </div>
    <div class="fee">
      <mat-icon class="icon-blue">attach_money</mat-icon>
      <span>Fees : {{doctor?.price}} EGP</span>
    </div>
    <div class="waiting">
      <mat-icon class="icon-blue">timer</mat-icon>
      <span>Waiting Time : {{doctor?.waitingTime}} Minutes</span>
    </div>
    <div class="call-cost">
      <mat-icon class="icon-blue">call</mat-icon>
      <span><b>{{doctor?.callCost}}</b> - Cost of regular call</span>
    </div>
  </div>
  <div class="slots-section">
    <div class="slots-table" *ngFor="let day of doctor?.slots">
      <div class="slot-header">{{day.label}}</div>
      <div class="slot-body">
        <div *ngIf="day.times && day.times.length > 0 && day.times[0].available">
          <span>From <b class="slot-time">{{day.times[0].time}}</b></span><br>
          <span>To <b class="slot-time">{{day.times[day.times.length-1].time}}</b></span>
        </div>
        <div *ngIf="day.times && day.times.length > 0 && !day.times[0].available">
          <span class="no-appointments">No Available Appointments</span>
        </div>
      </div>
      <button mat-raised-button class="book-btn" [disabled]="!day.times[0].available" (click)="book(doctor, day)">BOOK</button>
    </div>
    <div class="slots-note">Reservation required, first-come, first-served</div>
  </div>
</div>